.App {
  position: relative;
  display: block;
  text-align: center;
}

body{
  /* I want emty space to the left and the right. */
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}

.container {
  position: relative;
  display: block;
  padding: 5px;
  margin: 5px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.count {
  color: rgba(0,0,0,.5);
  text-align: right;
}

input {
  width: 400px;
}

h1 {
 color: #0c3d9d;
}

h3 {
  color: #9d0c1f;
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
